* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open-sans', sans-serif;
}

body {
  overflow-x: hidden;
  height: 100%;
}

.wrapper {
  background-color: #d4d4d8;
  display: flex;
  flex-direction: column;
  min-height: 650px;
  height: 650px;
  width: 350px;
  margin: 0 auto;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.clock-overlay,
.digital-overlay,
.buttons-overlay,
.alarm-overlay,
.timer-overlay,
.loadingscreen-overlay,
.menu-overlay {
  display: none;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px); 
  }
}

/* Overlay */

.loadingscreen-overlay {
  background-color: #a1a1aa;
  height: 650px; 
  width: 350px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
  z-index: 1000;
  overflow: hidden;
}

.loadingscreen-overlayonclick {
  animation: fadeOut 0.5s ease-out;
}

.loadingscreen-header {
  stroke: #52525b;
  stroke-width: 1;
}

.loadingscreen-slogan {
  font-family: 'Agdasima', sans-serif;
  text-shadow: 0 0 2px #fff;
  color: #71717a;
}

/* Header */

.header {
  z-index: 1;
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
}

.logo {
  width: 200px;
  align-self: flex-start;
  margin-top: 20px;
  margin-right: 20px;
}

.menu-logo {
  margin-top: 20px;
}

.menu-logo div {
  height: 5px;
  width: 40px;
  background-color: #71717a;
  margin-top: 3px;
  border-radius: 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInScale {
  0% {
    opacity: 0; 
    transform: scale(0.5); 
  }
  100% {
    opacity: 1; 
    transform: scale(1); 
  }
}

/* Menu overlay */

.menu-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  min-height: 65vh;
  animation: fadeIn 0.5s ease-in-out;
}

.menu-overlay button {
  font-family: 'Agdasima', sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  border: none;
  background-color: #d4d4d8;
  color: #71717a;
  font-weight: bolder;
}

.menu-overlay button:hover {
  font-size: 42px;
}

/* Digital watch */

.digital-overlay {
  font-size: 60px;
  margin-bottom: 120px;
  animation: fadeIn 0.5s ease-in-out;
}

.values {
  animation: fadeInScale 0.5s ease-in-out;
}

/* Set time */

.increaseTimeButton,
.decreaseTimeButton {
  width: 50px;
  height: auto;
  align-self: center;
}

.timer-overlay {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
  font-size: 60px;
  animation: fadeIn 0.5s ease-in-out;
}

.time-displaycont {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time-displaycont p {
  font-size: 15px;
}

.time-display {
  margin-top: 20px;
  animation: fadeInScale 0.5s ease-in-out;
}

/* Buttons */

.startPauseButton {
  width: 75px;
  margin-bottom: 50px;
  animation: fadeIn 0.5s ease-in-out;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d4d4d8;
  width: 350px;
  height: 200px;
  text-align: center;
  padding: 0;
  margin: 0;
}
.abortTimerButton {
  border: 1px solid #a1a1aa;
  color: #a1a1aa;
  border-radius: 5px;
  height: 30px;
  width: 120px;
  background-color: #d4d4d8;
  margin-bottom: 50px;
  animation: fadeIn 0.5s ease-in-out;
}

/* analog clock */

.clock-overlay {
  position: relative;
  margin-top: 30%;
  margin-bottom: 40px;
  animation: fadeIn 0.5s ease-in-out;
}

.clockface {
  width: 200px;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: #000;
  border-radius: 50%;
  z-index: 2;
}

.hand {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hand i {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 7px #000000;
}

#sec i {
  height: 75px;
  width: 2px;
  background-color: #000;
  box-shadow: none;
}
#min i {
  height: 65px;
  width: 4px;
  background-color: #000;
  box-shadow: none;
}

/* alarm */
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.alarmOverlay {
  text-align: center;
  margin-bottom: 50px;
  animation: fadeIn 0.5s ease-in-out;
}

.alarmOverlay p {
  font-family: 'Agdasima', sans-serif;
  font-size: 60px;
}

.alarm-clock {
  width: 50px;
  animation: shake 0.5s infinite;
}

.setTime {
  border: 1px solid #a1a1aa;
  color: #a1a1aa;
  border-radius: 5px;
  height: 30px;
  width: 120px;
  background-color: #d4d4d8;
  margin-bottom: 50px;
  animation: fadeIn 0.5s ease-in-out;
}

.fade-in {
  animation: fadeInScale 0.5s ease-in-out; 
}
