* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open-sans', sans-serif;
}

body {
  overflow-x: hidden;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.clock-overlay,
.digital-overlay,
.buttons-overlay,
.alarm-overlay,
.timer-overlay,
.loadingscreen-overlay,
.menu-overlay {
  display: none;
}

/* Overlay */

.loadingscreen-overlay {
  background-color: grey;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
  z-index: 1000;
}

.loadingscreen-header {
  stroke: #000;
  stroke-width: 1;
}

.loadingscreen-slogan {
  font-family: 'Agdasima', sans-serif;
  text-shadow: 0 0 2px #fff;
}

/* Header */

.header {
  display: flex;
}

.logo {
  width: 200px;
  margin: 10px;
}

.menu-logo {
  margin: 20px;
}

.menu-logo div {
  height: 5px;
  width: 40px;
  background-color: #000;
  margin-top: 3px;
  border-radius: 5px;
  box-shadow: 0 0 1px #000;
}

/* Menu overlay */

.menu-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  min-height: 75vh;
}

.menu-overlay button {
  font-family: 'Agdasima', sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  border: none;
  background-color: #fff;
  font-weight: bolder;
}

/* Digital watch */

.digital-overlay {
  font-size: 60px;
  margin-top: 20px;
}

/* Set time */
.timer-overlay {
  margin-top: 35%;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.increaseTimeButton,
.decreaseTimeButton {
  width: 50px;
  height: auto;
  align-self: center;
}

.time-displaycont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.time-display {
  font-size: 60px;
}

/* Buttons */
.startPauseButton {
  width: 100px;
}

/* analog clock */

.clock-overlay {
  position: relative;
  margin-top: 50%;
}

.clock {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 12px;
  text-align: center;
}

.clock span b {
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
}

.clock::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: #000;
  border-radius: 50%;
  z-index: 2;
}

.hand {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hand i {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 7px #000000;
}

#sec i {
  height: 75px;
  width: 2px;
  background-color: #000;
  box-shadow: none;
}
#min i {
  height: 65px;
  width: 4px;
  background-color: #000;
  box-shadow: none;
}

/* alarm */

.alarm-overlay {
  font-family: 'Agdasima', sans-serif;
  font-size: 30px;
}
