* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open-sans', sans-serif;
}

body {
  margin: auto;
}

/* Overlay */

.loadingscreen-overlay {
  background-color: grey;
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
  animation: fadeOutAnimation ease-in-out 2s 0.2s 1 forwards;
  /* display: none; */
}

.loadingscreen-header {
  stroke: #000;
  stroke-width: 1;
}

.loadingscreen-slogan {
  font-family: 'Agdasima', sans-serif;
  text-shadow: 0 0 2px #fff;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 20px;
}

.menu {
  margin-top: 30px;
  margin-right: 20px;
}

.menu button {
  text-transform: uppercase;
  margin-right: 10px;
  border: none;
  background-color: #fff;
  font-weight: bolder;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 50px;
}

/* Set time */

/* Digital watch */

/* analog clock */

.clock-overlay {
  display: none;
  position: relative;
}

.clock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 12px;
  text-align: center;
}

.clock span b {
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
}

.clock::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: #000;
  border-radius: 50%;
  z-index: 2;
}

.hand {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hand i {
  width: 4px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 7px #000000;
}

.hand i {
  width: 4px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 7px #000000;
}

.hand i {
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 7px #000000;
}

#hour i {
  height: 95px;
  width: 4 px;
  background-color: red;
}

#min i {
  height: 113px;
  width: 4px;
  background-color: red;
}

#sec i {
  height: 118px;
  width: 2px;
  background-color: #000;
  box-shadow: none;
}
